#merah {
    background-color: rgb(224,102,102);
    grid-area: 1/ 1 / span 2 / 1;
    text-align: center;
}

#jingga {
    background-color: rgb(255,200,0);
    grid-area: 3/ 1 / span 2 / 1;
    text-align: center;
}

#hijau {
    background-color: rgb(0,161,93);
    grid-area: 1/ 2 /  1 / span 2;
    text-align: center;
}

#ungu {
    background-color: rgb(142,124,195);
    grid-area: 1/ 4 /  1 / span 2;
    text-align: center;
}

#pink {
    background-color: rgb(255,159,213);
    grid-area: 2/ 2 /  span 2 / 2;
    text-align: center;
}

#hmuda {
    background-color: rgb(254,216,73);
    grid-area: 2/ 3 / 3 / span 3;
    text-align: center;
}

#biru {
    background-color: rgb(0,161,93);
    grid-area: 3/ 3 / 3 / 3;
    text-align: center;
}

#kuning {
    background-color: rgb(255,255,0);
    grid-area: 4/ 2 / 4 / span 2;
    text-align: center;
}

#birut {
    background-color: rgb(61,133,198);
    grid-area: 3/ 4 / span 2 / span 2;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-areas: "myArea myArea . . ." ;
    background-color: #2196F3;
    height: 100vh;
  }
  .grid-container > div {
    padding: 20px;
    font-size: 30px;
    align-items:  center;
    display: flex;
    justify-content: center;
   
  }